<article class="blogposts">
    {{title}}
    {{blog}}
    <div class="meta">
        by {{user.username}} on {{format_date created_at}}
        |
        <a href="/blogpost/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>